/*-------- 2.2 Menu pages --------*/

.menu_item figure img {
  width: 100px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.menu_item1 .menu_title1 {
  background: radial-gradient(#d5d5d5 40%, rgba(0, 0, 0, 0) 10%);
  background-position: 0 13px;
  background-size: 4px 4px;
  background-repeat: repeat-x;
}
.menu_item1 .menu_title1 h3 {
  background-color: #fff;
  font-size: 10px;
  font-size: 1.125rem;
  margin: 0;
  padding-right: 3px;
}
 
.menu_item1 .menu_title2 h3 {
  
  font-size: 10px;
  font-size: 1.125rem;
  margin: 0;
  padding-right: 3px;
}
